In [36]:
import pandas as pd
import numpy as np

In [2]:
rate_file="/rds/general/user/xzhang13/home/pfam/analysis_human_pfam/4_DNV/dnv_rates/all_rates_cadd_maf_shet_2020_03_05.txt.gz"
rates = pd.read_table(rate_file)

/rds/general/user/xzhang13/home/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [6]:
rates.head()

,symbol,chrom,pos,ref,alt,cq,prob,raw,score,maf,constrained,shethigh
0,A1BG,19,58858388,T,A,missense,2.473583e-09,0.969276,8.956,NaN,False,False
1,A1BG,19,58858388,T,C,missense,5.647224e-09,0.829189,8.343,NaN,False,False
2,A1BG,19,58858388,T,G,missense,1.215965e-09,0.859933,8.482,NaN,False,False
3,A1BG,19,58858389,C,A,missense,1.717729e-09,0.972000,8.967,NaN,False,False
4,A1BG,19,58858389,C,G,missense,1.912497e-09,0.757663,8.012,NaN,False,False

In [39]:
hrc_positive=pd.read_table("/rds/general/user/xzhang13/home/pfam/analysis_human_pfam/0_generate_constraint/output/95_CI/all_domain_mis_hrc_positive_20211130.txt",header=None)
hrc_positive.columns=['chrom','pos','ref','alt','sub','pfam_id','msa_pos','gene_symbol','hrc']
#print(hrc_positive.shape)
#each unique missense variant on each possible gene
hrc_positive=hrc_positive.drop_duplicates(subset=['chrom','pos','ref','alt','gene_symbol'], keep='first')

/rds/general/user/xzhang13/home/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [40]:
hrc_positive.head()

  chrom     pos ref alt      sub  pfam_id  msa_pos gene_symbol    hrc
0     1  878719   T   A  CTT_T_A  PF07647       16      SAMD11  0.787
1     1  878719   T   C  CTT_T_C  PF07647       16      SAMD11  0.787
2     1  878719   T   G  CTT_T_G  PF07647       16      SAMD11  0.787
3     1  878720   T   A  TTC_T_A  PF07647       16      SAMD11  0.787
4     1  878720   T   C  TTC_T_C  PF07647       16      SAMD11  0.787

In [64]:
print(hrc_positive.shape)
var_hrc_positive=hrc_positive.drop_duplicates(subset=['chrom','pos','ref','alt'], keep='first')
print(var_hrc_positive.shape)
hrc_positive.to_csv("/rds/general/user/xzhang13/home/pfam/analysis_human_pfam/4_DNV/DeNovoWEST/input/hrc_constrained_missense.txt",index=False,sep="\t")

(1323139, 9)
(1323139, 9)

In [11]:
#check difference on using gene or not using gene
#rate_update1=rates.merge(hrc_positive.loc[hrc_positive['hrc']<0.8],how="left",left_on=['chrom','pos','ref','alt','symbol'], right_on=['chrom','pos','ref','alt','gene'])

rate_update=rates.merge(hrc_positive.loc[hrc_positive['hrc']<0.8],how="left",left_on=['chrom','pos','ref','alt'], right_on=['chrom','pos','ref','alt'])

In [12]:
print(rate_update.shape)
print(rates.shape)

(111414306, 17)
(111414306, 12)

In [13]:
# is it different from 438925
rate_update.loc[rate_update["hrc"]<0.8].shape

(890837, 17)

In [14]:
rates.head()

,symbol,chrom,pos,ref,alt,cq,prob,raw,score,maf,constrained,shethigh
0,A1BG,19,58858388,T,A,missense,2.473583e-09,0.969276,8.956,NaN,False,False
1,A1BG,19,58858388,T,C,missense,5.647224e-09,0.829189,8.343,NaN,False,False
2,A1BG,19,58858388,T,G,missense,1.215965e-09,0.859933,8.482,NaN,False,False
3,A1BG,19,58858389,C,A,missense,1.717729e-09,0.972000,8.967,NaN,False,False
4,A1BG,19,58858389,C,G,missense,1.912497e-09,0.757663,8.012,NaN,False,False

In [17]:
#rate_update=rate_update.drop(columns=['key'])

In [18]:
rate_update.head()

,symbol,chrom,pos,ref,alt,cq,prob,raw,score,maf,constrained,shethigh,sub,pfam_id,msa_pos,gene_symbol,hrc
0,A1BG,19,58858388,T,A,missense,2.473583e-09,0.969276,8.956,NaN,False,False,NaN,NaN,NaN,NaN,NaN
1,A1BG,19,58858388,T,C,missense,5.647224e-09,0.829189,8.343,NaN,False,False,NaN,NaN,NaN,NaN,NaN
2,A1BG,19,58858388,T,G,missense,1.215965e-09,0.859933,8.482,NaN,False,False,NaN,NaN,NaN,NaN,NaN
3,A1BG,19,58858389,C,A,missense,1.717729e-09,0.972000,8.967,NaN,False,False,NaN,NaN,NaN,NaN,NaN
4,A1BG,19,58858389,C,G,missense,1.912497e-09,0.757663,8.012,NaN,False,False,NaN,NaN,NaN,NaN,NaN

In [19]:
rate_update['hrc_constrained']=np.where(rate_update['hrc']<0.8, True, False)

In [20]:
sum(rate_update['hrc_constrained']==True)

890837

In [21]:
rate_update=rate_update.drop(columns=['hrc'])

In [ ]:
#compression_opts = dict(method='gzip',
#                        archive_name='/rds/general/user/xzhang13/home/pfam/analysis_human_pfam/4_DNV/dnv_rates/all_rates_withHRC.txt') 
rate_update.to_csv("/rds/general/user/xzhang13/home/pfam/analysis_human_pfam/4_DNV/dnv_rates/all_rates_withHRC_20211130.txt.gz",index=False,sep="\t",
          compression='gzip')